body {
    background-color: white !important; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
  }
  
  
  #navbar {
    width: 100%;
    position: absolute;
    background-color: transparent; 
    box-shadow: none; 
  }
  
  
  header {
    position: fixed;
    width: 100%;
    top: 0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 20px; 
    transition: 0.5s;
    background: transparent; 
  }
  
  .main {
    width: 1170px;
    margin: 0 auto;
  }
  
  
  .main ul {
    margin: auto;
    padding: 25px 0 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-links {
    display: flex;
    gap: 30px;
}

.quote-link {
    margin-left: auto; 
}

.main ul li a {
    color: black;
    font-size: 25px;
    font-weight: bolder;
    padding: 10px 30px;
    text-decoration: none; 
}

.main ul li a:hover {
    transition: 1s;
    background-color: gray;
    border-radius: 10px;
    color: black;
}
  
  
  .btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: #ffffff; 
    font-weight: 400;
    border-radius: 0.5rem;
  }
  
  .btn:hover {
    background: #fa1216;
  }
  
  
  .home-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #ffffff; 
    padding: 20px;
  }
  
  .box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-img img {
    max-width: 100%;
    height: auto;
    transition: 0.2s all linear;
}

.box-img img:hover {
    transform: translateY(-16px); 
    transition: 0.2s all linear;
    
  }

  html {
    scroll-behavior: smooth;
}

  /* Music */
  .card {
    position: relative;
    width: 310px;
    height: 120px;
    background: #191414;
    border-radius: 10px;
    padding: 10px;
  }
  
  .top {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .pfp {
    position: relative;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    background-color: #d2d2d2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-1 {
    color: Black;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .title-2 {
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
  
  .time {
    width: 90%;
    background-color: #5e5e5e;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 5%;
    bottom: 22px;
  }
  
  .elapsed {
    width: 42%;
    background-color: #1db954;
    height: 100%;
    border-radius: 3px;
  }
  
  .controls {
    color: black;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  
  .volume {
    height: 100%;
    width: 48px;
    padding-right: 100px;
  }
  
  .air {
    height: 100%;
    width: 48px;
  }
  
  .controls svg {
    cursor: pointer;
    transition: 0.1s;
  }
  
  .controls svg:hover {
    color: #1db954;
  }
  
  .volume {
    opacity: 0;
    position: relative;
    transition: 0.2s;
  }
  
  .volume .slider {
    height: 4px;
    background-color: #5e5e5e;
    width: 80%;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 10%;
  }
  
  .volume .slider .green {
    background-color: #1db954;
    height: 100%;
    width: 80%;
    border-radius: 3px;
  }
  
  .volume .circle {
    background-color: white;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    position: absolute;
    right: 20%;
    top: 60%;
  }
  
  .volume_button:hover ~ .volume {
    opacity: 1;
  }
  
  .timetext {
    color: white;
    font-size: 8px;
    position: absolute;
  }
  
  .time_now {
    bottom: 11px;
    left: 10px;
  }
  
  .time_full {
    bottom: 11px;
    right: 10px;
  }
  
  .playing {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1px;
    width: 30px;
    height: 20px;
  }
  
  .greenline {
    background-color: #1db954;
    height: 20px;
    width: 2px;
    position: relative;
    transform-origin: bottom;
  }
  
  .line-1 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.2s;
  }
  
  .line-2 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.5s;
  }
  
  .line-3 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.6s;
  }
  
  .line-4 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0s;
  }
  
  .line-5 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.4s;
  }
  
  @keyframes playing {
    0% {
      transform: scaleY(0.1);
    }
  
    33% {
      transform: scaleY(0.6);
    }
  
    66% {
      transform: scaleY(0.9);
    }
  
    100% {
      transform: scaleY(0.1);
    }
  }
  /* Music */